.input {
  position: relative;

  &__label {
    position: absolute;
    top: 16px;
    left: 42px;
  }
  &__control {
    padding: 16px 20px;
    width: 100%;
    border: 1px solid
      var(
        --color-secondary-dark
      );
    border-radius: 8px;
    background-color: transparent;
    line-height: 1.17;
    font-size: 16px;
  }
  &__:focus {
    border-color: var(
      --color-brand-normal
    );
    outline: none;
  }
  &__::placeholder {
    color: lightgrey;
    font-size: 16px;
    line-height: 1.17;
  }
  &:focus::placeholder {
    color: var(
      --color-primary-dark
    );
  }
}
