.slide-button {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  fill: var(
    --color-primary-dark
  );
  background-color: transparent;
  border: 1px solid
    var(--color-primary-dark);
  cursor: pointer;


  &:hover {
    background-color: var(
      --color-primary-dark
    );
    fill: var(
      --color-primary-light
    );
  }
  &.next {
    transform: rotate(180deg);
  }
  
}
