.section {
  padding: 48px 0;

  &__title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
    font-family: "Poppins",
      sans-serif;

    &--centered {
      text-align: center;
    }
  }
}

.section-title
  .text-brand-dark {
  color: var(
    --color-brand-dark
  );
}
